LANGSMITH_TRACING=true

# SaaS OTEL Endpoint (Default)
OTEL_EXPORTER_OTLP_ENDPOINT="https://api.smith.langchain.com/otel"
# Self hosting OTEL Endpoint, it would look like "<self-hosting-domain>/otel/v1/traces"
# OTEL_EXPORTER_OTLP_ENDPOINT="<self-hosting-domain>/otel/v1/traces"

# OTEL Headers
OTEL_EXPORTER_OTLP_HEADERS="x-api-key=<langsmith-api-key>,Langsmith-Project=<langmsith-project-name>"


# AWS Credentials
AWS_ACCESS_KEY_ID="<aws-access-key-id>"
AWS_SECRET_ACCESS_KEY="<aws-secret-access-key>"
AWS_REGION_NAME="<aws-region-name>"
